#xargs -a <(awk '/^\s*[^#]/' /path/to/this/file) -r -- sudo apt-get install

# linter
#astyle
apt-file
autoconf
autogen
automake
build-essential
#byobu
bzr
#checkinstall
clang
cmake
cppcheck
cscope
ctags
curl
exuberant-ctags
#git
git-email
#libappindicator1
#libappindicator3-1
#meld
pkg-config
python-pip
python3-pip
rar
silversearcher-ag
#sni-qt
#sni-qt:i386
tree
unrar
vim-gtk
xclip
zeal
tig
